#detail {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #detail td, #detail th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #detail tr:nth-child(even){background-color: #f2f2f2;}
  
  #detail tr:hover {background-color: #ddd;}
  
  #detail th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff9900;
    color: white;
  }

  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }

  .button1 {
      background-color: #008CBA;
    }
  .button2 {
        background-color: #f44336;
   }

   #buttoncenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }