<div>
    <table id="detail">
        <thead>
            <tr>
                <th *ngFor="let key of keys">{{ key | uppercase }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of list">
                <td *ngFor="let key of keys">{{ data[key] }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div id='buttoncenter'>
    <button type="button" class="button button1" (click)='getEmployeeList()'>Load Name</button>
    <button type="button" class="button button2" (click)='getCountryList()'>Load country</button>
</div>

<router-outlet></router-outlet>
